body {
    font-family: Arial, Verdana;
    background-color: #0D0D0D;
    color: #ffff;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    font-size: 42px;
    padding: 15px;
    color: #C4C4C4;
}

h2 {
    font-size: 30 px;
    color: #C4C4C4;
}

p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
    color: #707070;
}

image {
    width: 250px;
    text-align: center;
    border-color: #ffff;
    border-width: 3px;
}

div {
    height:auto;
    min-height: 125px;
    padding: 20px;
    border-color: #ffffff;
    border-radius: 3px;
    box-sizing: border-box;
}
/* look at code up above i think it's screwing up my other div sections w/ the borders */
div.red {
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom-width: 2px;
    border-left-width: 5px;
}

div.blue {
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-right-width: 5px;
    border-top-width: 2px;
}

div.yellow {
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-bottom-width: 2px;
    border-left-width: 5px;
}

div.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right-width: 5px;
    border-top-width: 2px;
}

footer {
    /* figure out gradient background tomorrow */
    border-width: 5px;
}