/* for borders, use this format!!!: border: dashed 3px #ffffff; */
 body {
    font-family: Arial, "Verdana";
    background-color: #0D0D0D;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;    
}

h1 {
    text-align: center;
    font-size: 42px;
    padding: 15px;
    /* color: #ffffff; */
    color: #C4C4C4;
    /* font: 42px #C4C4C4; */
}
/* prob do h1 p {} in order to style this correctly */

h2 {
    font-size: 30px;
    color: #C4C4C4;
}

p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
    color: #707070;
}

img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: dashed 10px #ffffff;
}

div {
    height:auto;
    min-height: 125px;
    padding: 20px;
    /* border: 3px solid #ffffff; */
}
/* 
div p {
    color: #ffffff;
} */

div.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
    border: solid 3px #ffffff;
    /* text color is white in p element*/
}

div.introduction p {
    color: #ffffff;
}

div.red {
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #ffffff;
    border-left: 5px solid #ffffff;
    /* h2 text is black, p text is white */
}

div.red h2 {
    color: #000000;
}

div.red p {
    color: #ffffff;
}

div.blue {
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #ffffff;
    border-top: 2px solid #ffffff;
    /* blue is standard h2 color, p is also standard h2 color */
}

div.blue p {
    color: #C4C4C4;
}

div.yellow {
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #ffffff;
    border-left: 5px solid #ffffff;
    /* h2 is black, don't change p color*/
}

div.yellow h2 {
    color: #000000;
}

div.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #ffffff;
    border-top: 2px solid #ffffff;
    /* h2 text is black, p text is white */
}

div.green h2 {
    color: #000000;
}

div.green p {
    color: #ffffff;
}

footer {
    border: 5px solid #ffffff;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
}

footer p {
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: #ffffff;
}